/* Fondo oscuro para todo el body */
body {
    background-color: #0D0D0D;
    font-family: 'Courier New', monospace;
    color: #F2F2F2;
}

.navbar {
    background-color: #000000 !important;
}

.nav-link {
    color: #F2F2F2 !important;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
}

.nav-link:hover {
    color: #FF00FF !important;
}
/* Estilos para las tarjetas */
.card {
    border: 1px solid #333;
    background-color: #262626;
}

.card img {
    width: 100%;
    height: 400px; /* o el alto que se ajuste a tu diseño */
    object-fit: cover;
    display: block;
}


.card-title {
    color: #00FFFF;
}

.card-text {
    color: #F2F2F2;
}

.card-footer {
    background-color: #333;
    text-align: center;
}

.card-footer .btn {
    background-color: #9D00FF;
    color: #F2F2F2;
}

.card-footer .btn:hover {
    background-color: #FF00FF;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .card-img-top {
        height: 200px;
        object-fit: cover;
    }
}

/* Estilo general para los enlaces del footer */
.footer-contacto a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* GitHub */
.footer-contacto a[href*="github"]:hover {
    color: #494949 !important;
}

/* Instagram */
.footer-contacto a[href*="instagram"]:hover {
    background-image: linear-gradient(45deg, 
        #405de6, #5851db, #833ab4, #c13584, 
        #e1306c, #fd1d1d, #f56040, #f77737, 
        #fcaf45, #ffdc80);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent !important;
    -webkit-text-fill-color: transparent;
}

/* LinkedIn */
.footer-contacto a[href*="linkedin"]:hover {
    color: #0077b5 !important;
}
